@import plugins/setup

html
  font: 1em/1.84em 'Lato', sans-serif
  background: rgb(252,252,252)
  min-height: 100%
  height: 100%

.credits
  clear: both
  display: block
  overflow: hidden
  width: 100%
  height: 500px
  background: rgb(218, 218, 218)
  article
    +grid-column(12)
    text-align: center
    margin: 1em
    h1,p
      font-size: .5em
    p
      font-weight: bold

.filter
  width: 100%
  .search,.mod,.compare,.comparesnd,.comparetrd
    +grid-column(3)
    border: 1px solid gray
    font-size: .8em
    font-size: 1.5em
    border-radius: 3px
    display: inline-block
    float: left
    padding: 1em
    margin-bottom: 1em


.headline>.date
  font-size: 1.2em
.headline
  hgroup
    display: block
    margin: 1em
    text-transform: uppercase
    text-align: center
    font-size: 2.5em
    //overflow: hidden
    h1
      margin-bottom: 1em
      text-decoration: underline
      line-height: 1em
      font-weight: bold
    h2
      font-size: .2em
      overflow: hidden
  div
    text-align: center
    font-size: .7em


.global>div
  font-size: 1em
  padding: .3em
  align-items: center
  text-align: left
  padding-left: 1em
  margin: 0em
  border-bottom: 1px solid rgb(219, 220, 221)
  //background: rgb(245,245,245)
  span
    text-align: right
    float: right
    margin-right: .7em
    font-size: 1.5em
    width: auto

.global>.confirmed
  color: rgb(223, 39, 39)
  background: beige
.global>.recovered
  color: rgb(88, 176, 97)
.global>.deaths
  color: white
  background: rgb(68, 68, 68)
.global>.mort
  color: rgb(117, 114, 116)
.global>.active
  color: rgb(41, 123, 246)
.headline>.date
  text-transform: uppercase
  font-family: 'Sen'
  font-weight: bold

.regionlists,.global,.filter-options
  display: block
  font-size: .6em
  margin: 2em auto
  width: 100%
  clear: both
  ul
    display: block
    //border-radius: 8px
    float: left
    list-style: none
    width: 100%
    text-transform: uppercase
    overflow: hidden
    margin-bottom: 2em
    margin-right: 1em
    //box-shadow: 0px 0px 8px rgb(199, 199, 199)
    background: rgb(246, 246, 246)
    li
      padding: .8em
      overflow: hidden
      text-align: left
      font-weight: bold
      padding-left: 2em
      span
        font-weight: bold
        float: right
        padding: 0 .8em 0 0
        font-size: 1.35em
    li[class*='label']
      background: rgb(49, 72, 92)
      //font-weight: bold
      font-size: 1em
      text-align: center
      margin-bottom: 0em
      color: white

      //background: linear-gradient(0deg, rgba(157,157,157,1) 5%, rgba(255,255,255,0.569625350140056) 95%)
      //border-bottom: 3px solid white
    li[class*='mortality']
      color: rgb(66, 4, 84)
    li[class*='active']
      color: rgb(41, 123, 246)
    li[class*='recovered']
      color: rgb(255, 255, 255)
      background: rgb(142, 159, 0)
    li[class*='date']
      display: none
    li[class*='mortality']
      color: rgb(40, 35, 97)
    li[class*='confirmed']
      color: rgb(223, 39, 39)
      background: beige
    li[class*='death']
      background: rgb(68, 68, 68)
      color: white
    //li:hover
      background: rgb(235, 233, 233)
      color: black


.regionlists,.global,.filter-options
  +desktop
  width: 100%
  padding: 1em


+desktop
  .global
    padding: 0em
    div
      font-size: 1.8em
      margin: 0 1.5em 0 1.5em
      span
        font-size: 1em
        font-weight: 400

.filter-options
  +desktop
  padding: 1em

.regionlists>ul
  +desktop
    +grid-column(3)
  margin: 0
  margin-bottom: 2em


.filter-options,.filter
  +desktop
  display: block


//.search,.mod,.compare,.comparesnd
  +desktop
  border: 1px solid gray
  font-size: .8em
  padding: 1em
  margin: 1em 2em 0 0em
  display: inline
  float: left
  clear: none
