.credits
  article
    h1 curated by Andreas Netzel
    p cortauri.de - &copy;2020

    h1 covid19 in numbers
    h1 source: https://pomber.github.io/covid19/timeseries.json
    h1 source: https://raw.githubusercontent.com/samayo/country-json/master/src/country-by-population.json
