.headline
  hgroup
    h1 covid19 in numbers
    h2 source https://pomber.github.io/covid19/timeseries.json
    h2 source https://raw.githubusercontent.com/samayo/country-json/master/src/country-by-population.json
.global
  
.filter-options
  .filter
    label Search
    datalist(id="regionaldata")
      select
    input(list="regionaldata" class="search" placeholder="Country")
    //label Compare
    //input(list="regionaldata" class="compare" placeholder="Country 2")
    //label Compare
    //input(list="regionaldata" class="comparesnd" placeholder="Country 3")
    //label Mod
    //input(class="mod" type="text" placeholder="mod" value="1")
.regionlists
