.headline

  .logo
  
  hgroup
    h1 covid19 in numbers
    //h2 https://pomber.github.io/covid19/timeseries.json
    //sh2 https://raw.githubusercontent.com/samayo/country-json/master/src/country-by-population.json

.graph
  .plot-active a
  .plot-recovered r
  .plot-death d

.global
    
.filter-options
  .filter
    datalist(id="regionaldata")
      select
    input(list="regionaldata" class="search" placeholder="Country 1")
    //label Compare
    input(list="regionaldata" class="compare" placeholder="Country 2")
    //label Compare
    //input(list="regionaldata" class="comparesnd" placeholder="Country 3")
    //label Compare
    //input(list="regionaldata" class="comparetrd" placeholder="Country 4")
    //input(class="mod" type="text" placeholder="mod" value="1")

.order-options
  .by-confirmed c
  .by-active a
  .by-recovered r
  .by-deaths d
  .by-mortality m    
    
.regionlists
