doctype html
html
  head
    title cortauri
    meta(charset="UTF-8")
    meta(name="viewport" content="initial-scale=1, user-scalable=no, width=device-width")
    //meta(property="og:title" content="cortauri.de")
    //meta(property="og:image" content="assets/img/")
    link(rel="stylesheet" href="assets/css/style.css")
    script(src="assets/js/functions-min.js")
  
           
  body
    include sections/header
    include sections/nav
    include sections/teaser
    include sections/main
    include sections/footer
